

body{
background-image: url("../images/background.jpg");
background-repeat: no-repeat;
background-size: cover;
padding-top:50px;
}


.jumbotron{
  width:100%;
  height:auto;
}

.container{
  background-color: white;
  padding:20px;
  margin-top:-10px;
  margin-bottom: -10px;

}

.display-3 {
  color:#051D35;
  text-align: center;
}

h1 {
  color:#051D35;
}

h2 {
  color:#051D35;
}

h3 {
  color:#051D35;
}

h4 {
  color:#051D35;
}

p {
  color:#051D35;
  font-size: 17px;
}

.frontal-lobe{
  width: 450px;
  height: 350px;
}

.stroop-task{
  width:550px;
  height:350px;
  display: block;
  margin: 0 auto;
}

.temporal-lobe{
  width: 450px;
  height: 350px;
}

.parietal-lobe{
  width: 450px;
  height: 350px;
}

.occipital-lobe{
  width: 450px;
  height: 350px;
}

.primary-visual-cortex{
  width:600px;
}

.brainstem-cerebellum{
  width: 500px;
  height: 350px;

}

#frontal-lobe-button{
  text-align: center;
  width:220px;
  display: block;
  margin: 0 auto;
}

#parietal-lobe-button{
  text-align: center;
  width:220px;
  display: block;
  margin: 0 auto;
}

#temporal-lobe-button{
  text-align: center;
  width:220px;
  display: block;
  margin: 0 auto;
}

#occipital-lobe-button{
  text-align: center;
  width:220px;
  display: block;
  margin: 0 auto;
}

#primary-somatosensory-cortex{
  width: 450px;
  height: 350px;
}

#submit {
  background-color: #0B67B2;
  border: 1px solid #0B67B2;
}

#four-lobes{
  width: 730px;
  height: 520px;
  display: block;
  margin: 0 auto;
}


#frontal-lobe-image{
  width: 730px;
  height: 520px;
  display: block;
  margin: 0 auto;
}

#parietal-lobe-image{
  width: 730px;
  height: 520px;
  display: block;
  margin: 0 auto;
}

#temporal-lobe-image{
  width: 730px;
  height: 520px;
  display: block;
  margin: 0 auto;
}

#occipital-lobe-image{
  width: 730px;
  height: 520px;
  display: block;
  margin: 0 auto;
}

iframe{
  display: block;
  margin: 0 auto;
  height: 315px;
  width: 560px;
}


@media screen and (max-width: 1200px){

  #contact-form{
    margin-bottom: 100%;
  }

  iframe{
    display: block;
    margin: 0 auto;

  }

  .frontal-lobe{
    display: block;
    margin: 0 auto;
  }

  .stroop-task{
    display: block;
    margin: 0 auto;
  }

  .temporal-lobe{
    display: block;
    margin: 0 auto;
  }

  .parietal-lobe{
    display: block;
    margin: 0 auto;
  }

  .occipital-lobe{
    display: block;
    margin: 0 auto;
  }

  .primary-visual-cortex{
    width:600px;
  }

  .brainstem-cerebellum{
    display: block;
    margin: 0 auto;

  }

    .list-group{
      display: block;
      margin: 0 auto;
    }

    img{
      display: block;
      margin: 0 auto;
    }

  }

@media screen and (max-width: 767px){

  #contact-form{
    margin-bottom: 25%;
  }

iframe{
  width: 100%;
  height: 100%;
}


#frontal-lobe-button{
  text-align: center;
  display: block;
  margin: 0 auto;
}

#parietal-lobe-button{
  text-align: center;
  display: block;
  margin: 0 auto;
}

#temporal-lobe-button{
  text-align: center;
  display: block;
  margin: 0 auto;
}

#occipital-lobe-button{
  text-align: center;
  display: block;
  margin: 0 auto;
}

#brain-buttons{
  flex-wrap: wrap;
}

}

TO DO LIST
-proof-read!
