

body{
background-image: url("../images/background.jpg");
background-repeat: no-repeat;
background-size: cover;
}

.container{
  background-color: white;

}

/* gap between attention and next div */

#four-lobes{
  text-align: center;

}

h1 {
  color:#051D35;
}

h2 {
  color:#051D35;
}

h3 {
  color:#051D35;
}

h4 {
  color:#051D35;
}

p {
  color:#051D35;
}

.display-3 {
  color:#051D35;
}

.frontal-lobe{
  width: 450px;
  height: 350px;
}

.stroop-task{
  width:550px;
  height:350px;

}

.temporal-lobe{
  width: 450px;
  height: 350px;
}

.parietal-lobe{
  width: 450px;
  height: 350px;
}

.occipital-lobe{
  width: 450px;
  height: 350px;
}

.primary-visual-cortex{
  width:600px;
}

.brainstem-cerebellum{
  width: 500px;
  height: 350px;

}

#submit {
  background-color: #0B67B2;
  border: 1px solid #0B67B2;
  /* JS GREEN WHEN CLICKED */
}

#four-lobes{
  width: 730px;
  height: 520px;
}


#frontal-lobe-image{
  width: 730px;
  height: 520px;
}

#parietal-lobe-image{
  width: 730px;
  height: 520px;
}

#temporal-lobe-image{
  width: 730px;
  height: 520px;
}

#occipital-lobe-image{
  width: 730px;
  height: 520px;
}

  /* color: #0B67B2; */


  /* color: #051D35; */
