

/* body{
background-image: url("../images/background.jpg");
background-repeat: no-repeat;
background-size: cover;
}

header {
  margin-top: -25px;
  margin-left: -20px;
  margin-right: -20px;
  padding-bottom: 50px;
  padding-top: 50px;
  background-color: rgba(255, 255, 255, 0.9);
  height: auto;
  width:auto;
  text-align: center;
}

header h1 {
  color: #051D35;
}

header h2 {
  color: #051D35
}

nav {
  text-align: center;
  background-color: #051D35;
  margin-top: -20px;
  margin-left: -20px;
  margin-right: -20px;
  padding-top: 1px;
  height: 55px;
}

nav ul {

}

nav li {
display: inline-block;
list-style-type: none;

}

nav a {
  display: block;
  text-decoration: none;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 20px;
  color: white;
}

.active{
  display: inline-block;
  color: #21B7EA;

}

div {
  text-align: center;
  margin: 50px 250px 50px 250px;
  background-color: rgba(255, 255, 255, 0.9);
  padding-bottom: 20px;
}

p {
  margin: 20px;
  font-size: 20px;
  color: #051D35;
}

.introduction{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  font-size: 20px;
  color: #051D35;
}


.brain_areas {
  display: inline-block;
}

.brain_areas li {
  position: relative;
  right: 180px;
  bottom: 150px;
}

.brain {
  display: inline-block;
  height: 500px;
  width: 550px;
  padding-top: 50px;
}

ul {
  list-style-type: none;
}

li {
  font-size: 20px;
  padding-bottom: 50px;
}

a {
  text-decoration: none;
  color: #0B67B2;
}

h1{
  text-align: center;
  color: #051D35;
}

h2 {
  padding: 20px;
  text-align: center;
  color: #051D35;
}

h3{
  padding: 20px;
  text-align: center;
  color: #051D35;
}

.frontal-lobe {
  float: right;
  height:300px;
  width:350px;
  margin:10px;
}

.stroop-vid{
  float: right;
  display: inline-block;
  position: relative;
  bottom: 300px;
  right:20px;

}



}

.stroop-task{
display: block;
height:400px;
width:600px;
} */
